<!doctype>
<html>
<head>
<link  rel="stylesheet" type="text/css" href="css.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
	<body class="background">
	<main>
		<header>
			<div class="cell">
				<img src="img/l.png" alt="logo" class="logo"/>
				<h1 class="timer">Welcome message</h1>
			</div>
		</header>

		<section class="opaque">
			<div class="words">
				<h2>This is the section about stuff.</h2>
				This is the description of the section about stuff.
			</div>
		</section>
		
		<div class="divider"></div>

		<section class="background rm1">
			<div class="description">
				<h3>HOUSE ARREST</h3>
				<p>		
				Your theory turned out to be true: a mysterious virus has quietly taken control of the world, and now it’s coming for you. Trapped inside your own apartment, hitmen are coming to shut you down for good. The clock is counting down, but an unexpected message from a stranger just might help you escape an untimely death.
				</p>
				<a href="#" class="action">Action</a>
			</div>
		</section>
		
		<div class="divider"></div>

		<section class="background rm2">
			<div class="description">
				<h3>FOR THE LOVE OF SCIENCE</h3>
				<p>		
				You’re safe for now, but you’ll need to do something for your new friend before he will trust you. In the lab where the virus was created, there are machines which will weaken its power. It’s up to you to sneak into the high security facility, power up the equipment, and escape before anyone knows you’re there.
				</p>
				<a href="#" class="action">Action</a>
			</div>
		</section>
		
		<div class="divider"></div>
		
		<section class="background rm3">
			<div class="description">
				<h3>THE LION'S DEN</h3>
				<p>		
				You’ve found yourself on the guest list of a party celebrating the privileged elite, but there’s no time to enjoy the hors d'oeuvres. It’s all part of an effort to get you into the private study of one of the wealthiest and dangerous men on the planet. It’s time to end his reign, but can you find the key before security forces find you?
				</p>
				<a href="#" class="action">Action</a>
			</div>
		</section>
		
		<div class="divider"></div>

		<section class="opaque">
			<h2>Contact Info</h2>
			<p class="third">directions</p>
			<figure class="third">
				<img src="img/map.gif" alt="map" />
			</figure>
			<p class="third">social</p>
		</section>
	</main>
	<footer>
	Copyright date
	</footer>
</body>
</html>
