<!doctype>
<html>
<head>
<link  rel="stylesheet" type="text/css" href="css.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
	<body class="background">
	<main>
		<header>
			<div class="cell">
				<img src="img/logo.png" alt="logo" class="logo"/>
				<h1 class="timer">
					<div id="timer">
						<a href="https://twitter.com/heysilverlining">@heysilverlining</a>
					</div>
				</h1>
			</div>
			<a href="#us"><img src="img/key.png" class="down"/></a>
		</header>

		<section id="us" class="opaque">
			<div class="words">
				Immersion Escape Rooms in Charlottesville, VA offers a unique experience that inserts friends, family, and co-workers into highly detailed, multimedia environments where they must work together to find hidden meanings, solve puzzles, and unlock a meticulously designed story that extends across multiple sets and even beyond the 4th wall.  
			</div>
		</section>
		
		<div class="divider"></div>

		<section class="background rm1">
			<div class="description">
				<h3>HOUSE ARREST</h3>
				<p>		
				Your theory turned out to be true: a mysterious virus has quietly taken control of the world, and now it’s coming for you. Trapped inside your own apartment, hitmen are coming to shut you down for good. The clock is counting down, but an unexpected message from a stranger just might help you escape an untimely death.
				</p>
				<a href="#" class="action hidden">Action</a>
			</div>
		</section>
		
		<div class="divider"></div>

		<section class="background rm2">
			<div class="description">
				<h3>FOR THE LOVE OF SCIENCE</h3>
				<p>		
				You’re safe for now, but you’ll need to do something for your new friend before he will trust you. In the lab where the virus was created, there are machines which will weaken its power. It’s up to you to sneak into the high security facility, power up the equipment, and escape before anyone knows you’re there.
				</p>
				<a href="#" class="action hidden">Action</a>
			</div>
		</section>
		
		<div class="divider"></div>
		
		<section class="background rm3">
			<div class="description">
				<h3>THE LION'S DEN</h3>
				<p>		
				You’ve found yourself on the guest list of a party celebrating the privileged elite, but there’s no time to enjoy the hors d'oeuvres. It’s all part of an effort to get you into the private study of one of the wealthiest and dangerous men on the planet. It’s time to end his reign, but can you find the key before security forces find you?
				</p>
				<a href="#" class="action hidden">Action</a>
			</div>
		</section>
		
		<div class="divider"></div>

		<section class="opaque">
			<h2>Contact Info</h2>
			<p class="third hidden">directions</p>
			<figure class="third hidden">
				<img src="img/map.gif" alt="map" />
			</figure>
			<div class="half">
				Sign up for news
				<div>
					<input type="text" name="email" id="email" placeholder="youraddress@email.com"/>
					<a href="" id="contact" class="action">Submit</a>
				</div>
			</div>
			<div class="half">
				Follow us on
				<div>
					<a href="http://facebook.com/immersionescaperooms"><img src="img/fb.png" alt="Follow us on facebook" class="social"/></a>
					<a href="http://twitter.com/heysilverlining"><img src="img/t.png" alt="Follow us on facebook" class="social"/></a>
				</div>
			</div>
		</section>
	</main>
	<footer>
	&copy;2016 Immersion Interactive
	</footer>
</body>
<script src="jquery.min.js"></script>
<script src="timer.js"></script>
</html>
