@font-face {
  font-family: 'CFA Breuer';
  src: url(http://jeremybhale.github.io/CFABreuerBold.woff2) format('woff2');
}

.font-test {
  font-size: 2em;
  font-family: 'CFA Breuer', Arial, Helvetica, sans-serif;
}
